# Configure your external RPC URLs as a comma separated string
RPC_URLS=https://fullnode.mainnet.sui.io:443,https://sui-mainnet.rpc.extraterrestrial.tech

# Database configuration string
MONGODB_URI=mongodb://localhost:27017/sui_rewards

# Page size parameter for fetching from RPC
PAGE_SIZE=50
